<% @profiles.each_slice(3) do |profile| %>
  <% profile.each do |p| %>
    <%= render partial: 'shared/box_profile', locals: { profile: p } %>
  <% end %>
  <div class="clearfix hide-xs-block"></div>
<% end %>
<div class="clearfix"></div>
<%= paginate @profiles, window: 2 %>
