<li>
  <div class="pull-left user-block col-xs-2">
    <%= show_profile_img(activity.owner, 'small', "bg-green", "", false) %>
  </div>
  <div class="col-xs-10">
    <%= render partial: 'shared/notifications/header', locals: { activity: activity } %>
    <p>
      <%= t'notifications.event.deleted_an_event' %>
    </p>
    <p class="clearfix"></p>
  </div>
</li>