<div class="box-footer box-comments">
  <h6>Comments</h6>
  <% commentable.comments.each do |comment| %>
      <%= render partial: 'comments/comment', locals: {comment: comment, commentable: commentable} %>
  <% end %>
  <div class="box-comment">
    <%= render partial: 'comments/form', locals: {commentable: commentable} %>
  </div>
</div>