<div class="social-auth-links text-center">
  <p>- <%= t('devise.or') %> -</p>
  <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
    Facebook</a>
  <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
    Google+</a>

</div>
<%= render "devise/shared/links" %>
