<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Editing Language</h3>
  </div>
  <%= render 'form', language: @language %>
  <div class="box-footer">
    <%= link_to 'Show', @language %> |
    <%= link_to 'Back', languages_path %>
  </div>
</div>