<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <% if user_signed_in? %>
    <%= render partial: 'shared/main_sidebar_elements/user_panel' %>
    <% end %>

    <!-- search form (Optional) -->
    <%= render partial: 'shared/main_sidebar_elements/sidebar_form' %>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <%= render partial: 'shared/main_sidebar_elements/sidebar_menu' %>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
