<div class="pagination-center">
  <div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info object %>
    </div>
    <br>
    <%= will_paginate object, :container => false  %>
  </div>
</div>