<div class="box box-widget collapsed-box"><!--collapsed-box-->
  <div class="box-header with-border">
  <%= render partial: 'events/event_box_header', locals: { event: event } %>
    <button type="button" class="btn btn-sm btn-block" data-widget="collapse" style="background: none;"><i class="fa fa-plus"></i>
    </button>
  </div> <!-- /.box-header -->
  <div class="box-body">
    <%= render partial: 'events/event_box_body', locals: { event: event } %>
  </div><!-- /.box-body -->
  <!-- /.box-body -->
  <div class="box-footer">
    <%= render partial: 'events/event_box_footer', locals: { event: event } %>
  </div>
  <!-- /.box-footer -->
  <%= render partial: 'events/handlebars_template' %>
</div>