<%= markdown(event.description) %>
<p><strong><%= t'events.event.address' %>: </strong> <%= event.address %></p>
<div class="no-padding">
  <ul class="members-list members_list_<%= event.id %> clearfix">
  </ul>
</div>