<!-- post text -->
<%= markdown(event.description) %>
<div class="no-padding">
  <ul class="members-list members_list_<%= event.id %> clearfix"> <!-- members list-->

  </ul>
  <!-- /.members-list -->
</div>