<script id="eventLikeBtnTemplate" type="text/x-handlebars-template">
  <a class="btn {{btn_class}} like-btn" data-remote="true" rel="nofollow" data-method="{{method}}" href="{{link}}">
    <i class="fa fa-thumbs-o-up"></i> {{likers_count}} Like
  </a>
</script>