<div class="col-md-5 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-aqua">
    <div class="inner">
      <h3><%= @count_events %></h3>

      <p> Active <%= 'Event'.pluralize(@count_events) %></p>
    </div>
    <div class="icon">
      <i class="fa fa-comments-o"></i>
    </div>
  </div>
</div>

<div class="col-md-5 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3>220</h3>

      <p>Joined Members</p>
    </div>
    <div class="icon">
      <i class="fa fa-users"></i>
    </div>
  </div>
</div>
