<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- okgo create new event -->
<ins class="adsbygoogle"
     style="display:block;margin-bottom:15px;"
     data-ad-client="ca-pub-5677662134676433"
     data-ad-slot="7448703599"
     data-ad-format="auto"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="clearfix"></div>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('events.event.new_event') %></h3>
  </div>
  <div class="box-body">
    <%= render 'form', event: @event %>
  </div>
  <div class="box-footer">
    <%= link_to 'Back', events_path, class: 'btn btn-default pull-right' %>
  </div>
</div>

