<!-- Custom Tabs -->
<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Future Events</a></li>
    <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Past Events</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_1">
      <p>Future events</p>
      <% @future_event_memberships.each do |event_membership| %>
          <%= render partial: 'events/event', locals: {event: event_membership.event}%>
      <% end %>
    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane" id="tab_2">
      <p>Past Events</p>
      <% @past_event_memberships.each do |event_membership| %>
          <%= render partial: 'events/event', locals: {event: event_membership.event}%>
      <% end %>
    </div>

  </div>
  <!-- /.tab-content -->
</div>
<!-- nav-tabs-custom -->
