<div class="row">
  <div class="col-md-10">
    <% @event_memberships.each do |event_membership| %>
    <%= render partial: 'events/event', locals: {event: event_membership.event}%>
  <% end %>
  </div>
</div>