<script id="eventMembersTemplate" type="text/x-handlebars-template">
  {{#members}}
  <li class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
    <img class="img-circle" alt="{{name}}" data-original-title="{{name}}" data-toggle="tooltip" src="{{profile_image_medium}}">
    <a class="members-list-name" href="{{link_to_profile}}">
      {{name}}
    </a>
  </li>
  {{/members}}

</script>