development:
  adapter: postgresql
  encoding: unicode
  database: okgo_development
  pool: 5
  username: <%= ENV["PG_DB_USER"] %>
  password: <%= ENV["PG_DB_PASS"] %>

test:
  adapter: postgresql
  encoding: unicode
  database: okgo_test
  pool: 5
  username: <%= ENV["PG_DB_USER"] %>
  password: <%= ENV["PG_DB_PASS"] %>