# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: de53e0d16ad3a920d27ffef4c4e6d9b91e29a45d423113d2058c0a9701040242f843196990afd2805f3d9a2f107d26e2a976acb7f6b8faec4d463ddf50665475

test:
  secret_key_base: b9faa37f57e5284a2fc583733b03d3a5beb4674118ef4e1987258fd17b359b8c278f66830c032bd31800822a1a50721bcc9d8dd026522b91ae57941627583186

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
