<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- okgo feedbacks -->
<ins class="adsbygoogle"
     style="display:block;margin-bottom:20px;"
     data-ad-client="ca-pub-5677662134676433"
     data-ad-slot="8674757998"
     data-ad-format="auto"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('feedbacks.feedback.new_feedback') %></h3>
  </div>
  <div class="box-body">
    <%= render 'form', feedback: @feedback %>
  </div>
  <div class="box-footer">
    <%= link_to 'Back', feedbacks_path, class: 'btn btn-default pull-right' %>
  </div>
</div>