<ul class="sidebar-menu">
  <li class="header">NAVIGATION</li>
  <!-- Optionally, you can add icons to the links -->
  <li class="active">
    <%= link_to events_path do %>
        <i class="fa fa-circle-o"></i> <span>Events</span>
    <% end %>
  </li>
  <li>
    <%= link_to profiles_path do %>
        <i class="fa fa-circle-o"></i> <span>Profile</span>
    <% end %>
  </li>
  <li class="treeview">
    <a href="#"><i class="fa fa-circle-o"></i> <span>Multilevel</span>
      <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="#">Link in level 2</a></li>
      <li><a href="#">Link in level 2</a></li>
    </ul>
  </li>
</ul>