<div class="user-panel">
  <div class="pull-left image">
    <% if current_user.profile.photo? %>
        <%= image_tag(current_user.profile.photo.url('small'), class: "img-circle", alt: 'User Image') %>
    <% else %>
        <%= image_tag('small_missing.png', class: "img-circle", alt: 'User Image') %>
    <% end %>
  </div>
  <div class="pull-left info">
    <% if user_signed_in? %>
        <% if !current_user.profile.firstname.blank? %>
          <p><%= current_user.profile.firstname %></p>
        <% else %>
          <p><%= current_user.email %></p>
        <% end %>
    <% else %>
        <p>Hello</p>
    <% end %>
    <!-- Status -->
    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
  </div>
</div>