<div class="user-panel">
  <div class="pull-left image">
    <% if user_signed_in? && false #@profile.photo.url('small').present?  %>
        <%= image_tag(@profile.photo.url('small'), class: "img-circle", alt: 'User Image') %>
    <% else %>
        <%= image_tag('small_missing.png', class: "img-circle", alt: 'User Image') %>
    <% end %>
  </div>
  <div class="pull-left info">
    <% if user_signed_in? %>
        <p><%= current_user.email %></p>
    <% else %>
        <p>Hello Friend</p>
    <% end %>
    <!-- Status -->
    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
  </div>
</div>