<div class="user-panel">
  <div class="pull-left image">
    <% if @profile.photo? %>
        <%= image_tag(@profile.photo.url('small'), class: "img-circle", alt: 'User Image') %>
    <% else %>
        <%= image_tag('small_missing.png', class: "img-circle", alt: 'User Image') %>
    <% end %>
  </div>
  <div class="pull-left info">
    <% if user_signed_in? %>
        <% if !@profile.firstname.blank? %>
          <p>Hello <%= @profile.firstname %></p>
        <% else %>
          <p><%= current_user.email %></p>
        <% end %>
    <% else %>
        <p>Hello Friend</p>
    <% end %>
    <!-- Status -->
    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
  </div>
</div>