@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "libs/AdminLTE";
// AdminLTE Skins.
@import "libs/skin-blue";
@import "libs/icheck/blue";
@import 'bootstrap-datetimepicker';
//@import "bootstrap-slider";
@import "iziToast";
@import "libs/dd/dd";
@import "md_simple_editor";

.user-block ul.list-group {
  font-size: 14px;

  li.list-group-item{
    padding: 3px 15px;
    border: none;
    //color: #6b6a6a;
  }
}

.user-block img.flag-micro {
  width: auto;
  height: auto;
  float: left;
  border:1px solid silver;
  margin-top: 4px;
}
.user-block > a > img{
  width: 40px;
  height: 40px;
  float: left;
}
.profile-username{
  word-break: break-all;
}
.notifications-menu{
  li{
    padding: 0px 3px;
    h5{
      margin-bottom:0px;
    }
    .img-circle{
      margin: 10px 10px 0px 0px;
      padding: 1px;
    }
    p{
      padding: 0px;
      font-size: 12px;
    }
  }
}

.field_with_errors {
  @extend .has-error;
}

.content-header > .breadcrumb {
  float: none;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: relative;
  top: 0px;
  right: 5px;
  border: none;
}

.nav-tabs-memberships{
  background: none;
  box-shadow: none;
  .tab-content{
    background: none;
    padding: 0px;
  }
  ul.nav-tabs{
    li, li.active > a{
      background-color: #ecf0f5;
    }
  }
}

.slider-selection{
  background-image: linear-gradient(to bottom, #89cdef 0%, #81bfde 100%);
}

.event-resizing-div{
  transition: all 0.5s ease;
  .wday_0{ border-top: 3px solid rgba(255, 0, 0, 0.4); }
  .wday_1{ border-top: 3px solid rgba(255, 204, 0, 0.4); }
  .wday_2{ border-top: 3px solid rgba(255, 49, 204, 0.4); }
  .wday_3{ border-top: 3px solid rgba(1, 204, 1, 0.4); }
  .wday_4{ border-top: 3px solid rgba(255, 146, 9, 0.4); }
  .wday_5{ border-top: 3px solid rgba(2, 101, 255, 0.4); }
  .wday_6{ border-top: 3px solid rgba(102, 0, 206, 0.4); }
}

.wday_0{ border-top: 3px solid rgba(255, 0, 0, 0.4); }
.wday_1{ border-top: 3px solid rgba(255, 204, 0, 0.4); }
.wday_2{ border-top: 3px solid rgba(255, 49, 204, 0.4); }
.wday_3{ border-top: 3px solid rgba(1, 204, 1, 0.4); }
.wday_4{ border-top: 3px solid rgba(255, 146, 9, 0.4); }
.wday_5{ border-top: 3px solid rgba(2, 101, 255, 0.4); }
.wday_6{ border-top: 3px solid rgba(102, 0, 206, 0.4); }

.event_box, .feedback-box{
  .event-btns, .feedback-btns{
    .btn-default{
      background-color: transparent;
      border-color: transparent;
    }
    .btn-default:hover, .btn-default:active, .btn-default.hover{
      background-color: #e7e7e7;
    }
  }
}

.event_box{
  .user-block{
    margin-top: 10px;
    .description{
      margin-left: 40px;
    }
    .list-group > .list-group-item{
      padding: 3px 0px;
    }
  }
  .widget-user{
    .widget-user-header{
      border-radius: 5px;
      background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
      background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
      background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
      background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    }
  }
}

.members-list{
  .media{
    margin-top: 15px;
  }

  .member-box{
    border: 1px solid #dddddd;
    padding: 20px 20px;
    border-radius: 3px;

    .member-img > img{
      border: 2px solid #dddddd;
      padding: 2px;
    }
  }
}

// pagination
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination a:hover{
  background: #3c8dbc;
  color: white;
}

.pagination span.current{
  font-style: normal;
  font-weight: bold;
  color: #222d32;
}

.pagination {
  border-left: 1px solid #ddd;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}

.flag-with-count{
  .btn{
    background-color: white;
    border: none;
    padding: 0px 10px;
  }
  img{
    border: 1px solid silver;
  }
  .btn:last-child{
    color: #3c8dbc;
    font-weight: 600;
  }
}

// CROPIT plugin to crop image
.cropit-preview {
  /* You can specify preview size in CSS */
  width: 280px;
  height: 280px;
  margin: 0 auto;
}

.cropit-preview-image-container{
  border-radius: 200px;
}

/* Show load indicator when image is being loaded */
.cropit-preview.cropit-image-loading .spinner {
  opacity: 1;
}

/* Show move cursor when image has been loaded */
.cropit-preview.cropit-image-loaded .cropit-preview-image-container {
  cursor: move;
}

/* Gray out zoom slider when the image cannot be zoomed */
.cropit-image-zoom-input[disabled] {
  opacity: .2;
}

/* Hide default file input button if you want to use a custom button */
input.cropit-image-input {
  visibility: hidden;
}

/* The following styles are only relevant to when background image is enabled */

/* Translucent background image */
.cropit-preview-background {
  opacity: .2;
}

/*
 * If the slider or anything else is covered by the background image,
 * use non-static position on it
 */
input.cropit-image-zoom-input {
  position: relative;
  width: 75%;
  display: inline;
}

/* Limit the background image by adding overflow: hidden */
#image-cropper {
  overflow: hidden;
}


.cropit-slide-wrapper{
  width: 75%;
  margin:0 auto;
}

/* Translucent background image */
.cropit-preview-background {
  opacity: .2;
}
// \ - CROPIT plugin to crop image