@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "libs/AdminLTE";
// AdminLTE Skins.
@import "libs/skin-blue";
@import "libs/icheck/blue";
@import 'bootstrap-datetimepicker';
@import "bootstrap-slider";
@import "iziToast";
@import "md_simple_editor";

.user-block dl.description{
  font-size: 14px;
  color: black;
}
.profile-username{
  word-break: break-all;
}

.field_with_errors {
  @extend .has-error;
}

.content-header > .breadcrumb {
  float: none;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: relative;
  top: 0px;
  right: 5px;
  border: none;
}

.nav-tabs-memberships{
  background: none;
  .tab-content{
    background: none;
    padding: 0px;
  }
  ul.nav-tabs{
    li, li.active > a{
      background-color: #ecf0f5;
    }
  }
}

.slider-selection{
  background-image: linear-gradient(to bottom, #89cdef 0%, #81bfde 100%);
}

.members-list{
  .media{
    margin-top: 15px;
  }

  .member-box{
    border: 1px solid #dddddd;
    padding: 20px 20px;
    border-radius: 3px;

    .member-img > img{
      border: 2px solid #dddddd;
      padding: 2px;
    }
  }
}

// pagination
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em; }
.flickr_pagination .disabled {
  color: #aaaaaa; }
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084; }
.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none; }
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white; }
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em; }
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px; }
.flickr_pagination .previous_page {
  margin-right: 1em; }
.flickr_pagination .next_page {
  margin-left: 1em; }
// / pagination