@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "libs/AdminLTE";
// AdminLTE Skins.
@import "libs/skin-blue";
@import "libs/icheck/blue";
@import 'bootstrap-datetimepicker';
@import "md_simple_editor";

.user-block dl.description{
  font-size: 14px;
  color: black;
}
.profile-username{
  word-break: break-all;
}