<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- okgo оповещения -->
<ins class="adsbygoogle"
     style="display:block;margin-bottom:20px;"
     data-ad-client="ca-pub-5677662134676433"
     data-ad-slot="7198024790"
     data-ad-format="auto"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div>
  <ul class="timeline">
    <% @activities.each do |activity| %>
      <%= render_activity activity %>
    <% end %>
  </ul>

  <%= paginate @activities, window: 2 %>

</div>