<div>
  <ul class="timeline">
    <% @activities.each do |activity| %>
      <% cache activity do %>
        <%= render_activity activity %>
      <% end %>
    <% end %>
  </ul>

  <%= paginate @activities, window: 2 %>

</div>